<div fxLayout="column" class="app-container">
    <mat-toolbar class="header" fxLayout="row" fxLayoutAlign="space-between center" color="primary">
        <div>
            <button (click)="snav.toggle()" mat-icon-button>
                <mat-icon aria-label="Menu button">menu</mat-icon>
            </button>
            NgEz
        </div>
        <a href="https://github.com/ngez/platform" color="primary" mat-flat-button>
            <mat-icon svgIcon="fab:github" aria-label="Github button"></mat-icon>
            GitHub
        </a>
    </mat-toolbar>

    <mat-sidenav-container fxFlex>
        <mat-sidenav fxLayout="row" #snav [mode]="mode$ | async">
            <div class="sidenav-container">
                <ngez-nested-nav>
                    <ngez-nav-list title="Core">
                        <a class="nav-list-item" routerLink="/core" [routerLinkActiveOptions]="routerLinkOptions" routerLinkActive="active">Overview</a>
                        <ngez-nav-list title="Components">
                            <a class="nav-list-item" routerLink="/core/autocomplete" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Autocomplete</a>
                            <a class="nav-list-item" routerLink="/core/nested-nav" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Nested Nav</a>
                            <a class="nav-list-item" routerLink="/core/code-prettify" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Code Prettify</a>
                            <a class="nav-list-item" routerLink="/core/lazy-renderer" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Lazy Renderer</a>
                        </ngez-nav-list>
                        <ngez-nav-list title="Utility">
                            <a class="nav-list-item" routerLink="/core/in-viewport" routerLinkActive="active">In Viewport</a>
                            <a class="nav-list-item" routerLink="/core/outside" routerLinkActive="active">Outside Click</a>
                            <a class="nav-list-item" routerLink="/core/clipboard" routerLinkActive="active">Clipboard</a>
                        </ngez-nav-list>
                    </ngez-nav-list>
                </ngez-nested-nav>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxLayout="column">
            <div fxFlex fxLayout="column">
                <div fxFlex="1 0 auto" class="content-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>