<div fxLayout="column" class="app-container">
    <mat-toolbar class="header" fxLayout="row" color="primary">
        <button (click)="snav.toggle()" mat-icon-button>
            <mat-icon aria-label="Menu button">menu</mat-icon>
        </button>
        NgEz
    </mat-toolbar>

    <mat-sidenav-container fxFlex>
        <mat-sidenav fxLayout="row" #snav [mode]="mode$ | async">
            <div class="sidenav-container">
                <ngez-nested-nav>
                    <ngez-nav-list title="Core">
                        <a class="nav-list-item" routerLink="/core" [routerLinkActiveOptions]="routerLinkOptions" routerLinkActive="active">Overview</a>
                        <ngez-nav-list title="Components">
                            <a class="nav-list-item" routerLink="/core/autocomplete" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Autocomplete</a>
                            <a class="nav-list-item" routerLink="/core/nested-nav" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Nested Nav</a>
                            <a class="nav-list-item" routerLink="/core/code-prettify" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Code Prettify</a>
                            <a class="nav-list-item" routerLink="/core/lazy-image" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Lazy Image</a>
                        </ngez-nav-list>
                        <ngez-nav-list title="Utility">
                            <a class="nav-list-item" routerLink="/core/outside" routerLinkActive="active">Outside Click</a>
                            <a class="nav-list-item" routerLink="/core/clipboard" routerLinkActive="active">Clipboard</a>
                        </ngez-nav-list>
                    </ngez-nav-list>
                </ngez-nested-nav>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxLayout="column">
            <div fxFlex fxLayout="column">
                <div fxFlex="1 0 auto" class="content-container">
                    <router-outlet></router-outlet>
                </div>
                <!-- <div fxLayout="row">
                    <mat-toolbar style="height: auto; font-size: 14px; font-weight: normal" color="primary">
                        Tested on Chrome, Firefox and IE11.
                    </mat-toolbar>
                </div> -->
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<div ngezInViewport (inViewportChange)="onChange($event)">Some content</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>