<ngez-nested-nav>
    <ngez-nav-list title="Core">
        <a class="nav-list-item" routerLink="/core" [routerLinkActiveOptions]="routerLinkOptions" routerLinkActive="active">Overview</a>
        <ngez-nav-list title="Components">
            <a class="nav-list-item" routerLink="/core/autocomplete" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Autocomplete</a>
            <a class="nav-list-item" routerLink="/core/nested-nav" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Nested Nav</a>
        </ngez-nav-list>
        <ngez-nav-list title="Utility">
            <a class="nav-list-item" routerLink="/core/outside" routerLinkActive="active">Outside Click</a>
        </ngez-nav-list>
    </ngez-nav-list>
</ngez-nested-nav>