<h1 class="mat-headline">In Viewport</h1>
<p class="mat-body">
    Receive events indicating whether the element is currently in the viewport or not.
</p>
<h2 class="mat-title">Demo</h2>
<p class="mat-body">
    Open your devtools and scroll down. Notice the logged events when the element enters/leaves the viewport.
</p>
<div style="height: 1000px"></div>
<div ngezInViewport (inViewportChange)="onChange($event)">Some content</div>
<h2 class="mat-title">Import</h2>
<p class="mat-body">
    Begin by importing the module like this:
</p>
<pre>
    import {{'{'}} NgEzInViewportModule {{'}'}} from '@ngez/core';
</pre>
<h2 class="mat-title">Usage</h2>
<ngez-code-prettify [config]="code1">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>
<br>
<ngez-code-prettify [config]="code2">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>