@import "../../variables";

.ngez-nav-list{
    display: flex;
    flex-direction: column;
}

.ngez-nav-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    margin-right: 0;
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 10px;
    cursor: pointer;
    outline:none;
    
    &.active {
        color: $accent;
    }

    &:hover {
        color: $accent;
        background-color: #f2f2f2;
    }
}

.ngez-nav-list-content{
    padding-left: 18px;

    & a{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        background-color: transparent;
        padding: 6px;
        text-decoration: none;
        cursor: pointer;
        
        &.active {
            color: $accent;
        }

        &:hover {
            background-color: #f2f2f2;
            color: $accent;
        }
    }
}