<form [formGroup]="form">
    <!-- We can pass the accepted file types to the file input if we're programatically opening the file browser-->
    <div formControlName="files" ngezFileDropzone accept=".jpg">
        <button (click)="onBrowse()">Click to browse your files</button>
    </div>
    <p class="mat-body">
        Files:
    </p>
    <ul>
        <li *ngFor="let file of form.value.files">
            {{file.name}}
            <button type="button" (click)="onRemove(file)">Remove</button>
        </li>
    </ul>
</form>