<h1 class="mat-headline">Forms</h1>
<p class="mat-body">
    Custom validators for your forms. Supports FormsModule and ReactiveFormsModule.
</p>
<h2 class="mat-title">Validators</h2>
<ul>
    <li>equals: The value of two form controls must be equal.</li>
    <li>url: The value must be a valid url.</li>
    <li>fileType: The file's type (mime type or extension) must be valid.</li>
    <li>maxSize: The file's size must be valid.</li>
    <li>totalSize: The sum of all file sizes must be valid.</li>
</ul>
<h2 class="mat-title">Import (ignore for ReactiveFormsModule)</h2>
<p class="mat-body">Import the module like this:</p>
<pre>
    import {{'{'}} NgEzFormsModule {{'}'}} from '@ngez/core';
</pre>
<h2 class="mat-title">Usage</h2>
<ngez-code-prettify [config]="code1">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>
<br>
<ngez-code-prettify [config]="code2">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>