@import "../../variables";

.ngez-autocomplete-option{
    display:block;
    padding: 8px;
    width: auto;
    &.active{
        background-color: $primary;
        color: white;
    }

    &:hover:not(.disabled){
        background-color: $primary;
        color: white;
        cursor: pointer;
    }
}