@import "../../variables";

:host{
    display:block;
    padding: 8px;
    
    &.active{
        background-color: $primary;
        color: white;
    }

    &:hover:not(.disabled){
        background-color: $primary;
        color: white;
        cursor: pointer;
    }
}