<form [formGroup]="form">
    <input formControlName="user" type="text" [ngezAutocomplete]="ngezAutocomplete">
</form>

<ngez-autocomplete [config]="config" #ngezAutocomplete>
    <!-- We're disabling all the options with an even index -->
    <ngez-autocomplete-option [disabled]="isEven" [value]="user" *ngFor="let user of users; even as isEven">
        <!-- Any HTML can go here -->
        <div>
            <span>{{user.username}}</span>
        </div>
    </ngez-autocomplete-option>
</ngez-autocomplete>