<h1 class="mat-headline">Core</h1>
<p class="mat-body">
    @ngez/core is a library for Angular applications, which consists mostly of directives and other utilities,
    although our few components can still easily be overridden with new styles. This way you're not constrained
    by the theme of a component framework. Instead you can focus on how the view should look with your own styles, and we'll take care of the functionality.
</p>
<p class="mat-body">
    Tested on Chrome, Firefox and IE11.
</p>
<h2 class="mat-title">Installation</h2>
<ngez-code-prettify [config]="options">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>
<p class="mat-body">
    Core depends on the @angular/cdk, so install it if you haven't already:
</p>
<ngez-code-prettify [config]="options2">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>