<h1 class="mat-headline">Code Prettify</h1>
<p class="mat-body">
    Easily display code snippets 
</p>
<h2 class="mat-title">Features</h2>
<ul>
    <li>Light and dark theme, although you can easily add your own.</li>
    <li>Copy to clipboard.</li>
    <li>Pass the code as a string or a url to get an actual file and display its text.</li>
    <li>Display "loading" and "error" components when getting the code asynchronously.</li>
</ul>
<h2 class="mat-title">Demo</h2>
<ngez-code-prettify [config]="code1">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>
<h2 class="mat-title">Import</h2>
<p class="mat-body">
    Begin by importing the module like this:
</p>
<pre>
    import {{'{'}} NgEzCodePrettifyModule {{'}'}} from '@ngez/core';
</pre>
<h2 class="mat-title">Usage</h2>
<ngez-code-prettify [config]="code2">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>
<br>
<ngez-code-prettify [config]="code3">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>
<h2 class="mat-title">Styling</h2>
<p class="mat-body">You can create your own theme, or overwrite the existing ones with new colors quite easily:</p>
<ngez-code-prettify [config]="code4">
    <ngez-code-loading>
        <div style="padding: 24px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </ngez-code-loading>
    <ngez-code-loading-error >
        <div style="padding: 24px;" fxLayout="column" fxLayoutAlign="center center">
            <span style="color: white">Something went wrong while loading the code.</span>
            <button ngezReload>Reload</button>
        </div>
    </ngez-code-loading-error>
</ngez-code-prettify>